################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/EmptyApp/.vs/EmptyApp/v15
/samples/EmptyApp/.vs/config
/samples/EmptyApp/EmptyApp/bin/Debug/netcoreapp2.0
/samples/EmptyApp/EmptyApp/obj
