################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/EmptyApp/.vs/EmptyApp/v15
/samples/EmptyApp/.vs/config
/samples/EmptyApp/EmptyApp/bin/Debug/netcoreapp2.0
/samples/EmptyApp/EmptyApp/obj
/samples/WebApiApp/WebApiApp/obj
/samples/WebApiApp/WebApiApp/bin/Debug/netcoreapp2.0
/samples/WebApiApp/.vs
/samples/MvcApp/MvcApp/obj
/samples/MvcApp/MvcApp/bin/Debug/netcoreapp2.0
/samples/MvcApp/.vs
/lms/LmsApp/.vs/LmsApp/v15
/lms/LmsApp/LmsApp.Server/bin/Debug/netcoreapp2.0
/lms/LmsApp/LmsApp.Server/obj
/lms/LmsApp/Model/bin/Debug/netcoreapp2.0
/lms/LmsApp/Model/obj
/lms/LmsApp/Repository/bin/Debug/netcoreapp2.0
/lms/LmsApp/Repository/obj
/lms/LmsApp/RequestModel/bin/Debug/netcoreapp2.0
/lms/LmsApp/RequestModel/obj
/lms/LmsApp/Service/bin/Debug/netcoreapp2.0
/lms/LmsApp/Service/obj
/lms/LmsApp/ViewModel/bin/Debug/netcoreapp2.0
/lms/LmsApp/ViewModel/obj
/lms/LmsApp/Common/bin/Debug/netcoreapp2.0
/lms/LmsApp/Common/obj
/rms/RMSApp/.vs/RMSApp/v15/Server/sqlite3
/rms/RMSApp/RMSApp.Server/bin/Debug/netcoreapp2.0
/rms/RMSApp/RMSApp.Server/obj
